<ion-view view-title="Stats">
  <ion-content>
    <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home positive"></i>
    Enter home address
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone positive"></i>
    Enter phone number
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-wifi positive"></i>
    Enter wireless password
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card positive"></i>
    Enter card information
  </a>

</div>
  </ion-content>
</ion-view>
